<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_A.jpg</key>
	<array>
		<array>
			<real>359.5</real>
			<real>563.5</real>
		</array>
		<array>
			<integer>350</integer>
			<real>870.5</real>
		</array>
		<array>
			<integer>617</integer>
			<real>329.5</real>
		</array>
		<array>
			<integer>203</integer>
			<integer>534</integer>
		</array>
		<array>
			<real>64.5</real>
			<integer>289</integer>
		</array>
	</array>
	<key>7_A.jpg</key>
	<array>
		<array>
			<real>319.5</real>
			<real>182.5</real>
		</array>
		<array>
			<integer>118</integer>
			<integer>333</integer>
		</array>
		<array>
			<integer>446</integer>
			<real>413.5</real>
		</array>
		<array>
			<integer>556</integer>
			<real>617.5</real>
		</array>
		<array>
			<integer>331</integer>
			<integer>774</integer>
		</array>
	</array>
	<key>5_A.jpg</key>
	<array>
		<array>
			<integer>246</integer>
			<real>208.5</real>
		</array>
		<array>
			<real>568.5</real>
			<integer>161</integer>
		</array>
		<array>
			<real>107.5</real>
			<integer>874</integer>
		</array>
		<array>
			<real>217.5</real>
			<real>457.5</real>
		</array>
		<array>
			<integer>469</integer>
			<real>344.5</real>
		</array>
	</array>
	<key>4_A.jpg</key>
	<array>
		<array>
			<real>100.5</real>
			<integer>601</integer>
		</array>
		<array>
			<integer>283</integer>
			<real>607.5</real>
		</array>
		<array>
			<real>421.5</real>
			<integer>559</integer>
		</array>
		<array>
			<real>108.5</real>
			<integer>856</integer>
		</array>
		<array>
			<real>451.5</real>
			<integer>784</integer>
		</array>
	</array>
	<key>3_A.jpg</key>
	<array>
		<array>
			<integer>359</integer>
			<real>308.5</real>
		</array>
		<array>
			<real>111.5</real>
			<real>190.5</real>
		</array>
		<array>
			<real>453.5</real>
			<real>596.5</real>
		</array>
		<array>
			<real>172.5</real>
			<real>894.5</real>
		</array>
		<array>
			<real>627.5</real>
			<integer>187</integer>
		</array>
	</array>
	<key>6_A.jpg</key>
	<array>
		<array>
			<real>523.5</real>
			<real>307.5</real>
		</array>
		<array>
			<integer>603</integer>
			<integer>503</integer>
		</array>
		<array>
			<integer>309</integer>
			<integer>566</integer>
		</array>
		<array>
			<integer>591</integer>
			<real>703.5</real>
		</array>
		<array>
			<integer>178</integer>
			<real>174.5</real>
		</array>
	</array>
	<key>0_A.jpg</key>
	<array>
		<array>
			<real>125.5</real>
			<real>809.5</real>
		</array>
		<array>
			<real>277.5</real>
			<real>219.5</real>
		</array>
		<array>
			<real>422</real>
			<real>893.5</real>
		</array>
		<array>
			<real>625.5</real>
			<real>384</real>
		</array>
		<array>
			<integer>318</integer>
			<real>744</real>
		</array>
	</array>
	<key>2_A.jpg</key>
	<array>
		<array>
			<real>137.5</real>
			<integer>519</integer>
		</array>
		<array>
			<integer>264</integer>
			<real>842.5</real>
		</array>
		<array>
			<real>614.5</real>
			<real>875.5</real>
		</array>
		<array>
			<real>100.5</real>
			<integer>878</integer>
		</array>
		<array>
			<integer>576</integer>
			<integer>533</integer>
		</array>
	</array>
</dict>
</plist>
